body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(26, 26, 26);
  width: 100vw
}

*, *::before, *::after {
  box-size: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 3px solid rgb(78, 168, 222);
  
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  font-size: 26px;
  overflow: hidden;
  color: white;
  background-image: url('check.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="checkbox"]:checked::after {
  width: 30px;
  height: 30px;
}

input[type="checkbox"]:checked {
  background-color: rgb(94, 96, 206);
  border: none;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
  row-gap: 15px;
}

li {
  list-style: none;
  display: flex;
  background-color: rgb(38, 38, 38);
  align-items: center;
  justify-content: flex-start;
  color: white;
  height: 56px;
  border-radius: 8px;
}

h1 {
  color: rgb(78, 168, 222);
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  background-color: rgb(13, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1::before {
  content: '';
  background-image: url('rocket.svg');
  width: 22px;
  height: 36px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-right: 15px;
  margin-top: 15px;
}

h1 span {
  color: rgb(94, 96, 206);
}

li button {
  width: 24px;
  height: 24px;
  background-color: rgb(38, 38, 38);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.edit {
  background-image: url('edit.svg');
   
}

.remove {
  background-image: url('trash.svg');
}

.done {
  text-decoration: line-through;
  color: rgb(128, 128, 128);
}

form input {
  background-color: rgb(38, 38, 38);
  color: white;
  border: rgb(13, 13, 13);
  height: 54px;
  border-radius: 8px;
  width: 70%
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

form button {
  background-color: rgb(30, 111, 159);
  color: white;
  border: none;
  border-radius: 8px;
  width: 27%;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form button::after {
  content: '';
  background-image: url('plus.svg');
  width: 16px;
  height: 16px;
  display: inline-block;
  
}

.filter {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 16px;
}

.filter button {
  border-radius: 8px;
  background-color: rgb(30, 111, 159);
  color: white;
  height: 36px;
  border: none;
  font-weight: 700;
}

input::placeholder {
  transition: opacity 0.3s;
  font-size: 16px;
}

.input:focus-visible {
  outline: none;
  
}

.input:focus::placeholder { 
  opacity: 0; 
}

.input {
  padding-left: 15px;
  font-size: 16px;
}